<% # A dashboard to add users and manage user permissions. %>

<%= js_bundle(:users_admin_js) %>

<div id="manageUsers" data-user-id="<%= current_user.id %>">

  <%= admin_page_breadcrumb "Manage users" %>

  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Permission</th>
      <th>Delete</th>
    </tr>

    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="userPermissionControl">
            <input id="user_<%= user.id %>_admin" data-user-id="<%= user.id %>" type="radio" value="admin"
            name="user_<%= user.id %>" <%= user.permission == "admin" ? "checked='checked'" : "" %> />
            <label for="user_<%= user.id %>_admin">admin</label>
            <input id="user_<%= user.id %>_normal" data-user-id="<%= user.id %>" type="radio" value="normal"
                name="user_<%= user.id %>" <%= user.permission == "normal" ? "checked='checked'" : "" %> />
            <label for="user_<%= user.id %>_normal">normal</label>
          </div>
        </td>
        <td><div class="trash"</div></td>
      </tr>
    <% end %>
  </table>
</div>
