<%# The email which is sent when a commit is first pulled.
  #  - commit
%>
<font face="monospace" size="3">

<a href="http://<%= BARKEEP_HOSTNAME %>/commits/<%= commit.git_repo.name %>/<%= commit.sha %>">
<%= commit.grit_commit.id_abbrev %></a>
<%= CGI.escape_html(commit.grit_commit.author.display_string) %>
 <%= StringHelper.short_date(commit.grit_commit.date) %><br/><br/>
<%= CGI.escape_html(commit.grit_commit.message).gsub("\n", "<br/>") %><br/>
<%# This diff stat information needs to be wrapped in a <pre>, because there's significant whitespace. %>
<pre><%= diff_stat(commit.grit_commit.repo, commit.sha).gsub("\n", "<br/>") %></pre>

</font>
--<br/>
You're receiving this email because you have a saved search which includes this commit and you've checked "email me new commits."