<% if comment %>
  <div class="comment" commentId="<%=comment.id%>" data-comment-raw="<%= CGI::escapeHTML(comment.text) %>">
    <div class="heading">
      <div class="avatar"><img src="<%= comment.user.gravatar %>" /></div>
      <span class="name"><%=CGI::escapeHTML(comment.user.name)%></span>
      <span>commented</span>
      <span class="date"><%= comment.created_at.to_pretty %> </span>
      <div class="buttonContainer">
        <% if current_user && comment.line_number %>
          <button class="reply standard">Reply</button>
        <% end %>
        <% if current_user && current_user.id == comment.user_id %>
          <button class="edit standard">Edit</button>
          <button class="delete standard">Delete</button>
        <% end %>
      </div>
    </div>
    <div class="commentBody"> <%= comment.format %> </div>
  </div>
<% end %>
