<%#
  This view snippet is used for a list of code review requests or a list of commits with unresolved comments.
  View arguments:
  - list_id: a string that identifies the list
  - header: a string that is displayed above the list
  - review_list: an array where each element is a ReviewListEntry
%>

<div class="review" id="<%= list_id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <div class="name"><%= header %></div>
  </div>
  <% if review_list.empty? %>
    <div class="noResults">None.</div>
    <table class="commitsList" id="<%= list_id %>Table" style="display:none;"><tbody>
    </tbody></table>
  <% else %>
    <div class="noResults" style="display:none;">None.</div>
    <table class="commitsList" id="<%= list_id %>Table"><tbody>
      <% review_list.each do |entry| %>
        <%= erb :_commit_with_comments_entry, :layout => false, :locals => { :entry => entry } %>
      <% end %>
    </tbody></table>
  <% end %>
</div>
