<% if comment %>
  <div class="comment" id="comment_<%=comment.id%>">
    <div class="heading">
      <img class="avatar" src="<%= comment.user.gravatar %>" />
      <span class="name"><%=CGI::escapeHTML(comment.user.name)%></span>
      <span>added a comment at</span>
      <span class="date"><%= comment.created_at %> </span>
    </div>
    <div class="body"> <%=CGI::escapeHTML(comment.text)%> </div>
  </div>
<% end %>
