<% if comment %>
  <% state = "" %>
  <% if comment.action_required %>
    <% if comment.resolved_at.nil? %>
      <% state = "newComment" %>
    <% else %>
      <% state = "resolvedComment" %>
    <% end %>
  <% end %>
  <div class="commentAndAnchorContainer">
  <a name="comment-<%= comment.id %>"></a>
  <div class="commentContainer">
    <div class="comment" commentId="<%= comment.id %>"
         data-comment-raw="<%= CGI::escape_html(comment.text)%>"
         data-action-required="<%= comment.action_required %>">
      <div class="heading <%= state %>">
        <div class="avatar"><img src="<%= comment.user.gravatar %>" /></div>
        <span class="name"><%= CGI::escape_html(comment.user.name) %></span>
        <span class="permalink"><a href="#comment-<%= comment.id %>">commented</a></span>
        <span class="date"><%= comment.created_at.to_pretty %> </span>
        <div class="buttonContainer">
          <% if current_user %>
            <% if comment.action_required %>
              <% if comment.resolved_at %>
                <button class="unresolveComment">Reopen</button>
              <% else %>
                <button class="resolveComment">Resolve</button>
              <% end %>
            <% end %>
            <% if comment.line_number %>
              <button class="reply standard">Reply</button>
            <% end %>
            <% if current_user.id == comment.user_id %>
              <button class="edit standard">Edit</button>
              <button class="delete standard">Delete</button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="commentBody"> <%= comment.filter_text %> </div>
    </div>
  </div>
  </div>
<% end %>
