<% files.each do |file| %>
  <%= file[:file_name_before] %>
  <div class="data">
    <table>
      <tbody>
        <% file[:lines].each_with_index do |line, index| %>
          <tr data-diff-line="<%= index %>">
            <td class="line_number"><%= line.line_num_before || "" %></td>
            <td class="line_number"><%= line.line_num_after || "" %></td>
            <td class="code"><%= line.formatted %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
<% end %>
