<div class="file" filename="<%= file[:file_name_before] %>" >
  <div class="filename"> <%= file[:file_name_before] %></div>
  <div class="comments">
  <% line_comments, comment_index = [], 0 %>
    <% if commit_file = commit ? commit.commit_files_dataset[:filename => file[:file_name_before]] : nil %>
      <% commit_file.file_comments.each do |comment| %>
        <%= erb :_comment, :locals => {:comment => comment} %>
      <% end %>
      <% line_comments = commit_file.line_comments %>
    <% end %>
  </div>
  <div class="dataWrapper">
    <% ["codeLeft", "codeRight"].each do |table_class| # make 2 identical tables for side-by-side diff %>
      <div class="<%= table_class %>"><table class="data">
        <% if file[:special_case] %>
          <tr><td class="fileSpecial"><%= file[:special_case] %></td></tr>
        <% else %>
          <% breaks = file[:lines].each_with_index.select { |line, index| line.is_a? Array }.map(&:last) %>
          <% initial_break, final_break = breaks.first, breaks.last %>
          <% file[:lines].each_with_index do |line, i| %>
            <% if line.is_a? Array %>
              <% if i == initial_break %>
                <% extra_class = line[1] == i ? "initialBreak" : "" %>
              <% elsif i == final_break %>
                <% extra_class = file[:lines][i + 1].then { chunk } ? "" : "finalBreak" %>
              <% else %>
                <% "" %>
              <% end %>
              <tr class="chunkBreak <%= extra_class %>"><td colspan="3">
                  &rarr;<span class="breakMessage">skipping <%= line[1] %> lines</span>
              </td></tr>
            <% else %>
              <tr class="diffLine <%= line.chunk ? "chunk" : "" %> <%= line.chunk_start ? "chunk-start" : "" %>"
                diff-line-number="<%= line.index %>" replace="<%= line.replace %>" tag="<%= line.tag %>">
                <td class="lineNumber leftNumber"><div><%= line.line_num_before || "&nbsp;" %></div></td>
                <td class="lineNumber rightNumber"><div><%= line.line_num_after || "&nbsp;" %></div></td>
                <td class="code <%= line.tag %>">
                  <div class="marginLine"></div>
                  <div class="codeText"><%= line.formatted %></div>
                  <% # add line comments
                    while comment_index < line_comments.length &&
                      line_comments[comment_index].line_number == line.index + 1 %>
                    <%= erb :_comment, :locals => { :comment => line_comments[comment_index] } %>
                    <% comment_index += 1 %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table></div>
    <% end %>
  </div>
</div>
