<div class="file" filename="<%= file[:file_name_before] %>" >
  <div class="filename"> <%= file[:file_name_before] %></div>
  <div class="comments">
  <% line_comments, comment_index = [], 0%>
    <% if commit_file = commit ? commit.commit_files_dataset[:filename => file[:file_name_before]] : nil %>
      <% commit_file.file_comments.each do |comment| %>
        <%= erb :_comment, :locals => {:comment => comment} %>
      <% end %>
      <% line_comments = commit_file.line_comments %>
    <% end %>
  </div>
  <div class="data">
    <% if file[:binary] %>
      <span class="fileBinary">file is binary!</span>
    <% else %>
      <% file[:lines].each_with_index do |line, index| %>
        <div class="diffLine" diff-line-number="<%= index + 1 %>">
          <span class="lineNumber"><%= line.line_num_before || "&nbsp;" %></span>
          <span class="lineNumber"><%= line.line_num_after || "&nbsp;" %></span>
          <span class="code"><%= line.formatted %></span>
        </div>
        <% #add line comment if there is one
           while comment_index < line_comments.length &&
            line_comments[comment_index].line_number == index + 1 %>
              <%= erb :_comment, :locals => {:comment => line_comments[comment_index]} %>
            <% comment_index += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
