<%#
  This view snippet is used for a list of code review requests or a list of commits with unresolved comments.
  View arguments:
  - list_id: a string that identifies the list
  - header: a string that is displayed above the list
  - requests: an array of grit commits
  - erb_file: the erb file to call for each line
%>

<div class="review" id="<%= list_id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <div class="name"><%= header %></div>
  </div>
  <% if requests.empty? %>
    <div class="noResults">None.</div>
    <table class="commitsList" id="<%= list_id %>Table" style="display:none;"><tbody>
    </tbody></table>
  <% else %>
    <div class="noResults" style="display:none;">None.</div>
    <table class="commitsList" id="<%= list_id %>Table"><tbody>
      <% requests.each do |commit| %>
        <%= erb erb_file, :layout => false, :locals => { :commit => commit } %>
      <% end %>
    </tbody></table>
  <% end %>
</div>
