<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - token: a stringified PagingToken given by the client
  - direction: "before" or "after"
 %>
<% commits, page, tokens = saved_search.commits(token, direction) %>
<% from = tokens[:from] %>
<% to = tokens[:to] %>
<div class="savedSearch" from-token="<%= from %>" to-token="<%= to %>"
     saved-search-id="<%= saved_search.id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <a href="#" class="delete">x</a>
    <div class="unapproved">
      <label>
        <input type="checkbox" name="show_unapproved_commits" class="emailCheckbox"
            <%= saved_search.unapproved_only ? "checked" : nil %> />
        show unapproved only
      </label>
    </div>
    <div class="name"><%= saved_search.title %></div>
  </div>
  <% if commits.empty? %>
    <div class="noResults">No search results.</div>
  <% else %>
    <table class="commitsList">
      <% commits.each do |commit| %>
        <tr>
          <td class="selectArrow"></td>
          <td>
            <a href="/profile/<%= commit.author.user.id %>">
              <div class="avatar">
                <img src="<%= commit.author.user.gravatar %>"/>
              </div>
            </a>
          </td>
          <td class="author">
            <a href="/profile/<%= commit.author.user.id %>"
                title="<%= commit.author.email %>"><%= commit.author.to_s[0..25] %></a>
          </td>
          <td class="commitId">
            <a href="<%= commit.link %>" class="commitLink"><%= commit.id_abbrev %></a>
          </td>
          <td class="commitMessage">
            <a href="<%= commit.link %>"><%= CGI::escapeHTML(commit.short_message) %></a>
          </td>
          <td class="commitDate"><%= commit.date.to_pretty %></td>
          <td class="commitRepo"><%= commit.repo_name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="pageControls" style="<%= commits.empty? ? "display:none" : "" %>">
    <a href="#" class="pageLeftButton pageButton">&laquo;</a>
    <span class="pageNumber"><%= page %></span>
    <a href="#" class="pageRightButton pageButton">&raquo;</a>
  </div>
</div>
