<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - repo: the repo object.
  - page_number: the page number to load
 %>
<div class="savedSearch" page-number="<%= page_number %>" saved-search-id="<%= saved_search.id %>">
  <div class="topBar handle">
    <h4 class="title"><%= saved_search.title %></h4>
    <a href="#" class="delete">X</a>
  </div>
  <table class="commitsList">
    <% commits = saved_search.commits(repo, page_number) %>
    <% commits.each do |commit| %>
      <tr>
        <td class="selectArrow"></td>
        <td><a href="#"><div class="avatar"></div></a></td>
        <td class="author"><a href="#"><%= commit.author.to_s[0..25] %></a></td>
        <td class="commitId"><a href="#"><%= commit.id_abbrev %></a></td>
        <td class="commitMessage"><a href="#"><%= commit.short_message %></a></td>
        <td class="commitDate"><a href="#"><%= StringHelper.smart_date(commit.date) %></a></td>
      </tr>
    <% end %>
  </table>
  <div class="bottomBar handle">
    <div class="pagingButtons">
      <button class="pageLeftButton pageButton">&laquo;</button>
      <button class="pageRightButton pageButton">&raquo;</button>
      <span class="pageNumberText"><%= commits.empty? ? "No results." : "Result page #{page_number + 1}." %>
      </span>
    </div>
    <div class="email">
      <span>Email me new commits:</span><button class="emailMe">Off</button>
    </div>
  </div>
</div>
