<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - timestamp: a Time token given by the client
  - direction: "before" or "after"
 %>
<% commits = saved_search.commits(timestamp, direction) %>
<% if commits.empty? %>
  <% from, to = 0, 0 %>
<% else %>
  <% from, to = [commits.last, commits.first].map { |commit| commit.authored_date.to_i } %>
<% end %>
<div class="savedSearch" from-timestamp="<%= from %>" to-timestamp="<%= to %>"
     saved-search-id="<%= saved_search.id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <a href="#" class="delete">x</a>
    <div class="emailMe">
      <% checked = saved_search.email_changes ? "checked" : nil %>
      <label>
        <input type="checkbox" name="email_me" class="emailCheckbox" <%= checked %> />
        email me new commits
      </label>
    </div>
    <h4><%= saved_search.title %></h4>
  </div>
  <% if commits.empty? %>
    <div class="noResults">No search results.</div>
  <% else %>
    <table class="commitsList">
      <% commits.each do |commit| %>
        <tr>
          <td class="selectArrow"></td>
          <td><a href="/profile/<%= commit.author.user.id %>">
              <img class="avatar" src="<%= commit.author.user.gravatar %>"/></a></td>
          <td class="author">
            <a href="/profile/<%= commit.author.user.id %>"
                title="<%= commit.author.email %>"><%= commit.author.to_s[0..25] %></a>
          </td>
          <td class="commitId">
            <a href="<%= commit.link %>" class="commitLink"><%= commit.id_abbrev %></a>
          </td>
          <td class="commitMessage">
            <a href="<%= commit.link %>"><%= CGI::escapeHTML(commit.short_message) %></a>
          </td>
          <td class="commitDate"><%= commit.date.to_pretty %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="pageControls" style="<%= commits.empty? ? "display:none" : "" %>">
    <a href="#" class="pageLeftButton pageButton">&laquo;</a>
    <span class="pageNumber">?</span>
    <a href="#" class="pageRightButton pageButton">&raquo;</a>
  </div>
</div>
