<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - repo: the repo object.
  - page_number: the page number to load
 %>
 <div class="savedSearch" page-number="<%= page_number %>" saved-search-id="<%= saved_search.id %>">
  <a href="#" class="delete">x</a>
  <span class="pageNumber">page <%= page_number %></span>
  <h4 class="handle"><%= saved_search.title %></h4>
  <div class="metaControls">
    <label><input type="checkbox" name="email_me" />email me with new commits</label>
  </div>
  <table class="commitsList">
    <% commits = saved_search.commits(repo, page_number) %>
    <% if commits.empty? %>
      <span class="noResults">No search results.</span>
    <% else %>
      <% saved_search.commits(repo, page_number).each do |commit| %>
        <tr>
          <td class="selectArrow"></td>
          <td><a href="#"><div class="avatar"></div></a></td>
          <td class="author"><a href="#"><%= commit.author.to_s[0..25] %></a></td>
          <td class="commitId"><a href="#"><%= commit.id_abbrev %></a></td>
          <td class="commitMessage"><a href="#"><%= commit.short_message %></a></td>
          <!-- TODO(philc): Add commit date. -->
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
