<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - token: a stringified PagingToken given by the client
  - direction: "before" or "after"
  - page_number: the page number we should display for this page. This doesn't need to be strictly accurate;
    it's a best guess. It's managed by the client for continuity of user experience.
 %>
<%
  min_commit_date = Time.now - 60 * 60 * 24 * saved_search.user.saved_search_time_period
  # TODO(philc): change saved_search_time_period.commits to not return a page number any more. We now keep
  # track of the current page number on the client.
  commits, ignored_page, tokens = saved_search.commits(token, direction, min_commit_date)
  from = tokens[:from]
  to = tokens[:to]
%>
<div class="savedSearch" from-token="<%= from %>" to-token="<%= to %>"
     saved-search-id="<%= saved_search.id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <a href="#" class="delete">x</a>
    <div class="unapproved">
      <label>
        <input type="checkbox" name="show_unapproved_commits" class="emailCheckbox"
            <%= saved_search.unapproved_only ? "checked" : nil %> />
        show unapproved only
      </label>
    </div>
    <div class="name"><%= saved_search.title %></div>
  </div>
  <% if commits.empty? %>
    <div class="noResults">No search results.</div>
  <% else %>
    <table class="commitsList">
      <% commits.each do |commit| %>
        <% db_commit = MetaRepo.instance.db_commit(commit.repo_name, commit.sha) %>
        <tr>
          <td class="selectArrow"></td>
          <td class="avatarCell">
            <a href="/profile/<%= commit.author.user.id %>" target="_blank">
              <div class="avatar">
                <img src="<%= commit.author.user.gravatar %>"/>
              </div>
            </a>
          </td>
          <td class="author">
            <a href="/profile/<%= commit.author.user.id %>" target="_blank"
                title="<%= commit.author.email %>"><%= commit.author.to_s[0..25] %></a>
          </td>
          <td class="commitId">
            <a href="<%= commit.link %>" target="_blank" class="commitLink"><%= commit.id_abbrev %></a>
          </td>
          <td class="approval <%= db_commit.approved? ? "approved" : "unapproved" %>" title="Approved"></td>
          <td class="commitMessage">
            <a href="<%= commit.link %>" target="_blank"><%= CGI::escapeHTML(commit.short_message) %></a>
          </td>
          <td class="commitDate"><%= commit.date.to_pretty %></td>
          <td class="commitRepo"><%= commit.repo_name %></td>
          <td class="commentCountAnchor">
          <% comment_count = db_commit.comment_count %>
          <% if comment_count > 0 %>
            <div class="anchorDiv">
              <% comment_count_hover_text = "#{comment_count} comment#{'s' unless comment_count == 1}" %>
              <div class="commentCount" title="<%= comment_count_hover_text %>"><%= comment_count %></div>
              <div class="commentBubble" title="<%= comment_count_hover_text %>">
                <img src="images/comment_bubble.png" />
              </div>
            </div>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="pageControls" style="<%= commits.empty? ? "display:none" : "" %>">
    <a href="#" class="pageLeftButton pageButton">&laquo;</a>
    <span class="pageNumber"><%= page_number %></span>
    <a href="#" class="pageRightButton pageButton">&raquo;</a>
  </div>
</div>
