<%#
  View arguments:
  - saved_search: a SavedSearch object.
  - repo: the repo object.
  - page_number: the page number to load
 %>
<div class="savedSearch" page-number="<%= page_number %>" saved-search-id="<%= saved_search.id %>">
  <div class="header">
    <div class="dragHandle"></div>
    <a href="#" class="delete">x</a>
    <div class="emailMe">
      <label><input type="checkbox" name="email_me" />email me new commits</label>
    </div>
    <h4><%= saved_search.title %></h4>
  </div>
  <% commits = saved_search.commits(repo, page_number - 1) %>
  <% if commits.empty? %>
    <div class="noResults">No search results.</div>
  <% else %>
    <table class="commitsList">
      <% commits.each do |commit| %>
        <tr>
          <td class="selectArrow"></td>
          <td><a href="#"><div class="avatar"></div></a></td>
          <td class="author">
            <a href="#" title="<%= commit.author.email %>"><%= commit.author.to_s[0..25] %></a>
          </td>
          <td class="commitId">
            <a href="<%= commit.link %>" class="commitLink"><%= commit.id_abbrev %></a>
          </td>
          <td class="commitMessage"><a href="<%= commit.link %>"><%= commit.short_message %></a></td>
          <td class="commitDate"><%= StringHelper.smart_date(commit.date) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="pageControls" style="<%= commits.empty? ? "display:none" : "" %>">
    <a href="#" class="pageLeftButton pageButton">&laquo;</a>
    <span class="pageNumber"><%= page_number %></span>
    <a href="#" class="pageRightButton pageButton">&raquo;</a>
  </div>
</div>
