<script src="/js/smart_search.js"></script>
<script src="/js/commit_search.js"></script>
<!-- These options apply to all commit lists shown on the page. -->
<div id="commitSearch" class="searchPanel">
  <% if current_user %>
    <table>
      <tr>
        <td>
          <input type="text" name="filter_value" value="" />
        </td>
        <td><button class="fancy submit">Search</button></td>
      </tr>
      <tr>
        <td>
          <div class="example">keywords: <b>repos, authors, paths, branches</b></div>
          <div class="example">
              <b>branches</b> defaults to "master". Use <b>branches</b>:all to search all branches.
          </div>
        </td>
        <td></td>
      </tr>
    </table>

    <div id="timeRangeOptions">
      <span>Limit to</span>
      <% days_ago = current_user.saved_search_time_period %>
      <select name="timeRange" size="1">
        <option <%= "selected" if days_ago == 1 %> value="1">1 day ago</option>
        <option <%= "selected" if days_ago == 3 %> value="3">3 days ago</option>
        <option <%= "selected" if days_ago == 7 %> value="7">1 week ago</option>
        <option <%= "selected" if days_ago == 14 %> value="14">2 weeks ago</option>
        <option <%= "selected" if days_ago == 30 %> value="30">1 month ago</option>
      </select>
    </div>

  <% else %>
    <p>Log in to search commits</p>
  <% end %>

</div>

<div id="savedSearches">
  <% saved_searches.each do |saved_search| %>
    <%= erb :_saved_search, :layout => false,
      :locals => { :saved_search => saved_search, :token => nil, :direction => "before" } %>
  <% end %>
</div>
