<script src="/js/commit.js?bust=<%= Time.now.to_i %>"></script>

<%# TODO(caleb): Make margin-size user-customizable. %>
<div id="commit" sha="<%= commit.sha %>" repo="<%= commit.git_repo.name %>" margin-size="110">
  <div id="commitMetadata" class="embossedPanel">
    <table>
      <tr>
        <td>
          <p class="name">
          <span class="sha"><%= commit.sha %></span>
          <span class="repoName">| <%= commit.git_repo.name %></span>
          </p>
          <p class="message"><%= CGI::escapeHTML(commit.message).gsub("\n", "<br/>") %></p>
          <div class="avatar"><img src="<%= commit.user.gravatar %>" /></div>
          <div class="authorInfo">
            <p class="author"><%= commit.user.name %></p>
            <p class="email"><%= commit.user.email %></p>
            <p class="date" title="<%= commit.date.strftime("%Y-%m-%d %H:%M:%S") %>">
            <%= commit.date.to_pretty %>
            </p>
          </div>
        </td>
        <td>
          <% if commit.approved? %>
            <%= erb :_approved_banner, :layout => false,
                :locals => { :commit => commit } %>
          <% else %>
            <% if current_user %>
              <button id="approveButton" class="fancy">Approve Commit</button>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <% tagged_diff.each do |file| %>
    <%= erb :_diff, :locals => { :commit => commit, :file => file } %>
    <br/>
  <% end %>
  <div class="comments">
    <% commit.comments.each do |comment| %>
      <%= erb :_comment, :locals => { :comment => comment } %>
    <% end %>
  </div>
  <% if current_user %>
    <%= erb :_comment_form, :locals => {
      :repo_name => commit.git_repo.name,
      :sha => commit.sha,
      :filename => nil,
      :line_number => nil
    } %>
  <% end %>
</div>
