<!DOCTYPE html>
<html>
<head>
  <title>Barkeep</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <script src="/jquery-1.6.2.js"></script>
  <script src="/jquery-ui-1.8.14.custom.min.js"></script>
  <script src="/jquery.json-2.2.min.js"></script>
	<script src="/livecss.js"></script>
	<script src="/js/common.js"></script>

  <script>
    $(document).ready(function() {
      if (jQuery.browser.webkit)
        $("body").addClass("webkit");
      else if (jQuery.browser.mozilla)
        $("body").addClass("gecko");
    });

    var preloadImage = function(url) {
      var image = new Image();
      image.src = url;
    };

    // Preload the icon's on-hover state. Otherwise it flickers for a second while it's loading and you might
    // not see it... which would be tragic.
    preloadImage("/images/barkeep_logo_howdy_80px.png");
  </script>
</head>

<body>
  <header>
      <div id="icon"></div>

      <h1 title="Keep that code bar high."><a href="/">bar<span class="keep">keep</span></a></h1>

      <nav>
        <ul>
          <!-- These extra divs are needed for styling. -->
          <li class="<%= current_page_if_url("commits") %>">
            <div><a href="/commits">Commits</a></div>
          </li>
          <li class="<%= current_page_if_url("profile") %>">
            <div><a href="/profile/<%= current_user.id %>">My Profile</a></div>
          </li>
        </ul>
      </nav>

      <div id="signInBox">
        <a class="userEmail" href="/profile/<%= current_user.id %>"><%= current_user.email %></a>
        [<a class="logoutLink" href="https://www.google.com/accounts/Logout">logout</a>]
        <% #bullshittery to logout from google without getting stuck on their page %>
        <iframe id="logoutIFrame" width=0 height=0></iframe>
      </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>
	<div id="overlay"></div>
</body>
</html>
