<!DOCTYPE html>
<html>
<head>
  <title>Barkeep</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css?bust=<%= File.mtime(__FILE__).to_i %>">
  <script src="/jquery-1.6.2.js"></script>
  <script src="/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="/jquery.json-2.2.min.js"></script>
  <script src="/underscore-min.js"></script>
  <script src="/jquery.tipsy.js"></script>
  <script src="/jquery.hotkeys.js"></script>
  <script src="/jquery.rwcookie.js"></script>
  <script src="/livecss.js"></script>
  <script src="/js/constants.js?bust=<%= Time.now.to_i %>"></script>
  <script src="/js/util.js?bust=<%= Time.now.to_i %>"></script>
  <script src="/js/snippets.js?bust=<%= Time.now.to_i %>"></script>

  <script>
    $(document).ready(function() {
      if (jQuery.browser.webkit)
        $("body").addClass("webkit");
      else if (jQuery.browser.mozilla)
        $("body").addClass("gecko");

      // Load up tipsy tooltips
      var default_tipsy_options = { opacity: 0.95, live: true };
      $(".north[rel=tipsy]").tipsy($.extend({}, default_tipsy_options, {gravity: "n"}));
      $(".south[rel=tipsy]").tipsy($.extend({}, default_tipsy_options, {gravity: "s"}));
      $(".east[rel=tipsy]").tipsy($.extend({}, default_tipsy_options, {gravity: "e"}));
      $(".west[rel=tipsy]").tipsy($.extend({}, default_tipsy_options, {gravity: "w"}));
    });

    var preloadImage = function(url) {
      var image = new Image();
      image.src = url;
    };

    // Preload the icon's on-hover state. Otherwise it flickers for a second while it's loading and you might
    // not see it... which would be tragic.
    preloadImage("/images/barkeep_logo_howdy_80px.png");
  </script>
</head>

<body>
  <div id="container">
    <header>
        <div id="icon"></div>

        <h1 title="Keep that code bar high."><a href="/">bar<span class="keep">keep</span></a></h1>

        <nav>
          <ul>
            <!-- These extra divs are needed for styling. -->
            <li class="<%= current_page_if_url("commits") %>">
              <div><a href="/commits">Commits</a></div>
            </li>
            <li class="<%= current_page_if_url("stats") %>">
              <div><a href="/stats">Stats</a></div>
            </li>
          </ul>
        </nav>

        <div id="signInBox">
          <% if current_user %>
            <a class="userEmail" href="/profile/<%= current_user.id %>"><%= current_user.email %></a>
            | <a class="logoutLink" href="#">log out</a>
            <%# bullshittery to logout from google without getting stuck on their page %>
            <iframe id="logoutIFrame"></iframe>
          <% else %>
            <a class="loginLink" href="/login">log in</a>
          <% end %>
        </div>
    </header>

    <div id="body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
