<% # A dashboard to add users and manage user permissions. %>

<script type="text/javascript">
  window.Barkeep || (window.Barkeep = {})
  Barkeep.UserAdmin = {
    currentUserId: <%= current_user.id %>,

    updatePermission: function(userId, permission) {
      $.ajax({
        type: "POST",
        url: "/admin/users/update_permissions",
        data: {
          user_id: userId,
          permission: permission
        }
      });
    },

    confirmOwnDemotion: function() {
      return confirm("You are about to demote yourself! If you continue you will be redirected and unable " +
          "to view this page. Would you like to continue?");
    },

    numberOfAdminUsers: function() {
      return $("input[type=radio][value=admin]:checked").size();
    }
  }

  $(document).ready(function() {
    $("input[type=radio]").click(function(event) {
      var targetUserId = $(event.target).attr("data-user-id");
      var permission = $(event.target).val();

      // Prevent demoting the last admin.
      if ( Barkeep.UserAdmin.numberOfAdminUsers() === 0) {
        alert("Unable to demote the last admin user.");
        return false;
      }

      // Confirm user demoting themself.
      if (Barkeep.UserAdmin.currentUserId === targetUserId && !Barkeep.UserAdmin.confirmOwnDemotion()) {
        return false;
      }

      Barkeep.UserAdmin.updatePermission(targetUserId, permission)

      // Redirect a user if they demote themself.
      if (Barkeep.UserAdmin.currentUserId === targetUserId) {
        window.location = "/"
      }
    });
  });
</script>
<div id="manageUsers">
  <a href="/admin">Back to admin</a>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Permission</th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="userPermissionControl">
            <input id="user_<%= user.id %>_admin" data-user-id="<%= user.id %>" type="radio" value="admin"
            name="user_<%= user.id %>" <%= user.permission == "admin" ? "checked='checked'" : "" %> />
            <label for="user_<%= user.id %>_admin">admin</label>
            <input id="user_<%= user.id %>_normal" data-user-id="<%= user.id %>" type="radio" value="normal"
                name="user_<%= user.id %>" <%= user.permission == "normal" ? "checked='checked'" : "" %> />
            <label for="user_<%= user.id %>_normal">normal</label>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
