<%= js_bundle(:reviews_app_js) %>

<div id="reviewLists">
<% review_list_ids.each do |list_id| %>

<% if list_id == "uncompleted_reviews" %>
  <%= erb :_review_list, :layout => false, :locals => { :list_id => list_id,
      :header => "For me: code review requests",
      :requests => commits_with_uncompleted_reviews,
      :erb_file => :_review_request } %>
<% end %>

<% if list_id == "recent_reviews" %>
  <%= erb :_review_list, :layout => false, :locals => { :list_id => list_id,
      :header => "My recently completed code review requests",
      :requests => recently_reviewed_commits,
      :erb_file => :_review_request } %>
<% end %>

<% if list_id == "unresolved_comments" %>
  <%= erb :_review_list, :layout => false, :locals => { :list_id => list_id,
      :header => "For me: commits with unresolved comments",
      :requests => commits_with_unresolved_comments,
      :erb_file => :_unresolved_commit } %>
<% end %>

<% if list_id == "requests_from_me" %>
  <%= erb :_review_list, :layout => false, :locals => { :list_id => list_id,
      :header => "From me: code review requests",
      :requests => requests_from_me,
      :erb_file => :_review_request } %>
<% end %>

<% end %>
</div>
