<%= js_bundle(:reviews_app_js) %>

<div id="reviewLists">
<% review_list_ids.each do |list_id| %>

<% if list_id == "uncompleted_reviews" %>
  <%= erb :_review_request_list, :layout => false, :locals => {
      :list_id => list_id,
      :label => "For me",
      :labelClass => "toMe",
      :header => "Code review requests",
      :request_type => "Requested",
      :review_list => commits_with_uncompleted_reviews } %>
<% end %>

<% if list_id == "actionable_comments" %>
  <%= erb :_commits_with_comments_list, :layout => false, :locals => {
      :list_id => list_id,
      :label => "For me",
      :labelClass => "toMe",
      :header => "Actionable comments",
      :review_list => commits_with_actionable_comments } %>
<% end %>

<% if list_id == "recent_reviews" %>
  <%= erb :_review_request_list, :layout => false, :locals => {
      :list_id => list_id,
      :label => "For me",
      :labelClass => "toMe",
      :header => "Recently completed requests",
      :request_type => "Completed",
      :review_list => recently_reviewed_commits } %>
<% end %>

<% if list_id == "requests_from_me" %>
  <%= erb :_review_request_list, :layout => false, :locals => {
      :list_id => list_id,
      :label => "From me",
      :labelClass => "fromMe",
      :header => "Code review requests",
      :request_type => "Requested",
      :review_list => requests_from_me } %>
<% end %>

<% end %>
</div>
