<script src="/flot/jquery.flot.min.js"></script>
<script src="/flot/jquery.flot.pie.min.js"></script>
<script src="/js/stats.js"></script>
<div id="stats">
  <div id="statValues">
    <input type="hidden" name="unreviewedPercent" value="<%= unreviewed_percent %>" />
    <input type="hidden" name="commentedPercent" value="<%= commented_percent %>" />
    <input type="hidden" name="approvedPercent" value="<%= approved_percent %>" />
  </div>
  <div id="graphs">
    <div class="statistic">
      <h3>Review Coverage</h3>
      <div id="reviewPercentGraph" class="graph"
          unreviewedPercent="<%= unreviewed_percent %>"
          commentedPercent="<%= commented_percent %>"
          approvedPercent="<%= approved_percent %>">
      </div>
    </div>
    <div class="statistic">
      <h3>Top Reviewers</h3>
      <table class="authorList">
        <% top_reviewers.each do |user, count| %>
          <tr>
            <td><%= count %></td>
            <td><a href="/profile/<%= user.id %>">
                <img class="avatar" src="<%= user.gravatar %>"/></a></td>
            <td class="author">
              <a href="/profile/<%= user.id %>"
                  title="<%= user.email %>"><%= user.name[0..25] %></a></td>
            <td class="email">
              <a href="mailto:<%= user.email %>"
                  title="<%= user.email %>"><%= user.email %></a></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="statistic">
      <h3>Chatty Commits</h3>
      <table class="commitsList">
        <% chatty_commits.each do |commit, count| %>
          <tr>
            <td><%= count %></td>
            <td><a href="/profile/<%= commit.author.user.id %>">
                <img class="avatar" src="<%= commit.author.user.gravatar %>"/></a></td>
            <td class="author">
              <a href="/profile/<%= commit.author.user.id %>"
                  title="<%= commit.author.email %>"><%= commit.author.to_s[0..25] %></a></td>
            <td class="commitId">
              <a href="<%= commit.link %>" class="commitLink"><%= commit.id_abbrev %></a></td>
            <td class="commitMessage"><a href="<%= commit.link %>"><%= CGI::escapeHTML(commit.short_message) %></a></td>
            <td class="commitDate"><%= commit.date.to_pretty %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
