<%= css_url("/css/user_settings.css") %>
<%= js_bundle(:user_settings_app_js) %>

<div id="settings" class="copy">
  <div class="column">
    <h2>User profile</h2>
    <table>
      <tr>
        <td>Name</td>
        <td>
          <span id="editDisplayName" class="editable west" rel="tipsy" title="Edit">
            <%= current_user.name %>
          </span>
        </td>
      </tr>
      <tr><td>Email</td><td><%= current_user.email %></td></tr>
      <tr>
        <td>Gravatar</td>
        <td>
          <a class="gravatarLink" href="https://en.gravatar.com/site/login" target="_blank">
            <img class="bigGravatar west" rel="tipsy" title="Change your gravatar" src="<%= current_user.gravatar %>" />
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="column">
    <h2>Commit preferences</h2>
    <div class="preference">
      <% line_length = (current_user.line_length || 110).to_s %>
      Line length indicator bar: <span id="lineLength" class="value"><%= line_length %> characters</span>
      <div id="lineLengthSlider" data-value="<%= line_length %>" ></div>
    </div>
    <div class="preference">
      <span class="preference">Default diff view:</span>
      <% default_to_side_by_side = current_user.default_to_side_by_side %>
      <input type="radio" name="diffView" value="false"
        <%= "checked" unless default_to_side_by_side %>> unified</input>
      <input type="radio" name="diffView" value="true"
        <%= "checked" if default_to_side_by_side %>> side-by-side</input>
    </div>
    <h2>API credentials</h2>
    <table>
      <tr>
        <td>Key</td>
        <td><span class="key"><%= current_user.api_key %></span></td>
      </tr>
      <tr>
        <td>Secret</td>
        <td><span class="key"><%= current_user.api_secret %></span></td>
      </tr>
    </table>
  </div>
</div>
